.navbar {
  height: 15vh;
  width: 100%;
  background-color: rgb(7, 156, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar img {
  height: 60px;
  padding: 10px;
  margin-top: 40px;
}

.first {
  margin-left: 7%;
  margin-bottom: 3%;
}
.second {
  margin-right: 5%;
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.third {
  margin-right: 55%;
}

.activeStyle {
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  background-color: white;
  color: #03001e;
}

.classicStyle {
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
}
