.footer {
  min-height: 15vh;
  background-color: rgb(7, 156, 255);
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #09000c,
    #2e0158,
    #320252,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #09000c,
    #2e0158,
    #320252,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footer h2 {
  width: 200px;
  height: 50px;
  color: white;
  font-size: small;
  padding-top: 20px;
  padding-left: 20px;
}
.footer3 {
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  color: white;
  font-size: 10px;
  row-gap: 15px;
  column-gap: 30px;
  padding: 10px;
}

.footer2 a {
  margin: 30px;
}

.footer2:hover {
  color: gray;
}
